body {
    width:800px;
    margin-left:auto;
    margin-right:auto;
}

#divNav {
    width:100%;
    display:inline-block;

}

/* Navigation menu*/
.navMenu {
    list-style:none;
    margin: 0em;
    padding:0;
}
    .navMenu li {
        display:inline;
    }

        .navMenu li a {
            border: 1px solid black;
            text-align:center;
            margin: 0 5px;
            background-color:azure;
        }
            .navMenu li a:hover {
                background-color:red;
            }

/* Cartoon search widget*/
#CartoonSearch {
    height: 150px;
    width: 100%;
    text-align: center;
}

    #CartoonSearch div {
        border: 2px solid black;
        display: inline-block;
    }
    #CartoonSearch .left {
        float: left;
        margin-top:0px;
        margin-left: 0.75em;
        height: 100%;
        width: 15%;
    }



    #CartoonSearch .right {
        float: right;
        margin-top:0px;
        margin-right: 0.75em;
        height: 100%;
        width: 15%;
    }

    #CartoonSearch .center {
        margin-top:0px;
        height: 100%;
        width: 40%;
    }
       


#CartoonItself {
    height: 800px;
    width: 100%;
    border: 2px solid black;
}