/*  Master page */

body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    padding: 1em 1em 1em 1em;
    background-color: lightblue;
}


#divNav {
    width: 100%;
    display: inline-block;
}

/* Navigation menu*/
.navMenu {
    list-style: none;
    margin: 0em;
    padding: 0;
}

    .navMenu li {
        display: inline;
        float: left;
        margin-right: 0.2em;
    }

        .navMenu li:first-child {
            margin-left: 1em;
        }

        .navMenu li:hover {
            opacity: 0.75;
        }

        .navMenu li a {
            padding: 2px 2px 2px 2px;
            border: 1px solid black;
            border-radius: 7%;
            text-align: center;
            text-decoration: none;
            background-color: lightgreen;
        }

#CartoonContent {
    text-align: center;
    margin: 1em 0.5em;
    border: 2px solid black;
}

/* Cartoon search widget*/
#CartoonSearch {
    height: 1.5em;
    width: 100%;
}

    #CartoonSearch div {
        float: left;
    }

    #CartoonSearch ul {
        margin: 0;
        margin-top: 0.25em;
        padding: 0;
        list-style-type: none;
        text-align: center;
    }

    #CartoonSearch li {
        display: inline;
        margin-right: 0.5em;
    }

        #CartoonSearch li:first-child div {
            margin-left: 1em;
        }

        #CartoonSearch li div {
            display: inline;
            margin-right: 0.5em;
        }

#divPrevious {
    cursor: pointer;
}

#divNext {
    cursor: pointer;
}
/* Cartoon headers */
#CartoonHeader {
    height: 1.5em;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

    #CartoonHeader ul {
        margin: 0;
        margin-top: 0.25em;
        padding: 0;
        list-style-type: none;
        text-align: center;
    }

    #CartoonHeader li {
        display: inline;
        margin-right: 0.5em;
    }

        #CartoonHeader li div {
            display: inline;
        }

            #CartoonHeader li div p {
                display: inline;
            }
/* Cartoon info*/
#CartoonTitle {
    float: left;
    margin-left: 1.5em;
}

    #CartoonTitle p {
        font-size: x-large;
    }

#CartoonDate {
    float: right;
    margin-right: 1.5em;
}

    #CartoonDate p {
        font-size: small;
        font-style: italic;
    }


/* Cartoon content*/
#CartoonImage {
    border: 2px solid yellow;
}

#imgCartoon {
    padding: 0.2em 0.2em 0.2em 0.2em;
}


/* Share*/
#Share {
    padding-bottom: 3em;
    margin-top: 0.3em;
    margin-left:1em;
    margin-right:1em;
    background-color:red;
}

    #Share ul {
        list-style: none;
        margin-left:0.2em;
        padding-left:0;
    }

        #Share ul li {
            display: inline;
            margin-left: 0.5em;
            float: left;
        }

            #Share ul li:first-child {
                margin-left: 0.2em;
            }

/* Footer*/
.footer {
    padding-top: 1em;
    width: 100%;
    height: 8em;
}

    .footer ul {
        list-style: none;
    }

        .footer ul li {
            display: block;
        }

    .footer .leftFooter {
        float: left;
    }

    .footer .rightFooter {
        float: right;
    }
