/*  Master page */

body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    padding: 1em 1em 1em 1em;    
    background-color: lightblue;
}


#divNav {
    width: 100%;
    display: inline-block;
}

/* Navigation menu*/
.navMenu {
    list-style: none;
    margin: 0em;
    padding: 0;
}

    .navMenu li {
        display: inline;
        float: left;
        margin-right: 0.2em;
    }

        .navMenu li:first-child {
            margin-left: 1em;
        }

        .navMenu li:hover {
            opacity: 0.75;
        }

        .navMenu li a {
            padding: 2px 2px 2px 2px;
            border: 1px solid black;
            border-radius: 7%;
            text-align: center;
            text-decoration: none;
            background-color: lightgreen;
        }

#CartoonContent {
    text-align: center;
    margin: 10px 5px;
    border: 2px solid black;
}

/* Cartoon search widget*/
#CartoonSearch {
    height: 1.5em;
    width: 100%;
}

    #CartoonSearch div {
        float: left;
    }

    #CartoonSearch ul {
        margin: 0;
        margin-top: 0.25em;
        padding: 0;
        list-style-type: none;
        text-align: center;
    }

    #CartoonSearch li {
        display: inline;
        margin-right: 0.5em;
    }

        #CartoonSearch li:first-child div {
            margin-left: 1em;
        }

        #CartoonSearch li div {
            display: inline;
            margin-right: 0.5em;
        }
#divPrevious {
    cursor:pointer;
}
#divNext {
    cursor:pointer;
}
/* Cartoon headers */
#CartoonHeader {
    height: 1.5em;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

    #CartoonHeader ul {
        margin: 0;
        margin-top: 0.25em;
        padding: 0;
        list-style-type: none;
        text-align: center;
    }

    #CartoonHeader li {
        display: inline;
        margin-right: 0.5em;
    }

        #CartoonHeader li div {
            display: inline;
        }

            #CartoonHeader li div p {
                display: inline;
            }
/* Cartoon info*/
#CartoonTitle {
    float: left;
    margin-left:1.5em;
}

    #CartoonTitle p {
        font-size: x-large;
    }

#CartoonDate {
    float:right;
    margin-right:1.5em;
}

    #CartoonDate p {
        font-size: small;
        font-style: italic;
    }


    /* Cartoon content*/
#CartoonImage {
    border: 2px solid yellow;
}

#imgCartoon {  
    padding: 0.2em 0.2em 0.2em 0.2em;
}


/* Share*/
#Share {
    margin-left:auto;
    margin-right:auto;
}
    #Share ul {
        list-style:none;
    }
        #Share ul li {
            display:inline;
            float:left;
            margin-right:0.5em;

        }
            #Share ul li:first-child {
                margin-left:1em;
            }

/* Footer*/
.footer {
    
}
    
    .footer ul {
        list-style: none;
    }

        .footer ul li p {

        }
        
    .footer .leftFooter {
        margin-left:0px;
        float:left;
    }

    .footer .rightFooter {
        float:right;
        margin-right:2em;
    }